<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>S3 Transfer Application</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <h2>
        S3 Transfer Application
    </h2>
    <a href="/ui/">API Details</a>
</body>
</html>
